:root {
  --color-dark: #05172c;
  --color-grey-dark: #84949f;
  --color-grey: #b7bdc4;
  --color-grey-light: #e4e6e9;
  --color-light: #f4f5f5;
  --color-white: #ffffff;
  --color-green: #86bf3e;
  --color-red: #fc4b4e;
  --color-yellow: #fec740;
}
