:root {
  --Button-cta-background-color: var(--color-green);
  --Button-cta-border-color: transparent;
  --Button-cta-color: var(--color-white);
  --Button-white-background-color: var(--color-white);
  --Button-white-border-color: transparent;
  --Button-white-color: var(--color-dark);

  --Navbar-border-color: var(--color-light);
  --Navbar-item-color-default: var(--color-grey-dark);
  --Navbar-item-color-active: var(--color-dark);
  --Navbar-item-border-color-active: var(--color-green);
}