:root {
  --font-primary-family: 'Poppins', sans-serif;

  // Font Sizes
  --font-heading-lg: 2rem; // 32px
  --font-heading-md: 1.5rem; // 24px
  --font-heading-sm: 1.25rem; // 20 px
  --font-heading-xsm: 1.125rem; // 18px
  --font-text-lg: 1.125rem; // 18px
  --font-text-md: 1rem; // 16px
  --font-text-sm: 0.875rem; // 14px
  --font-text-xsm: 0.75rem; // 12px
  --font-caption-lg: 0.875rem; // 14px
  --font-caption-md: 0.75rem; // 12px
  --font-caption-sm: 0.625rem; // 10px
  --font-caption-xsm: 0.5rem; // 8px


  // Font Weights
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semiBold: 500;
  --font-weight-bold: 600;
  --font-weight-xbold: 700;
  --font-weight-black: 800;
  --font-weight-xblack: 900;
}
