:root {
  --global-modal-z-index: 100;

  // Border radius
  --border-radius-xsm: 8px;
  --border-radius-sm: 16px;
  --border-radius-md: 24px;
  --border-radius-lg: 32px;
  --border-radius-round: 50%;
}
